#gonzales-never {
    background-color: #fffff9;
    color: #111;
    hgroup {
        margin-bottom: 24px;
    }

    h2,
    h3,
    h4 {
        font-family: 'Indie Flower', cursive;
        text-align: center;
    }

    h2 {
        font-size: 64px;
        font-weight: 800;
        text-transform: uppercase;
    }

    h3 {
        font-size: 3em;
        font-weight: 400;
    }

    h4 {
        font-size: 1.6em;
        font-weight: 600;
        margin: 1.2em 0 1.6em;
    }

    .excerpt {
        margin-bottom: 180px;
        font-family: 'Indie Flower', cursive;
        font-weight: 400;
        font-size: 1.6em;
        text-align: center;
        line-height: 1.8;
    }

    p {
        margin-bottom: 1.2em;
    }

    button {
        background-color: #fffff9;
        color: #111;
        border: 2px solid #111;
        &:hover, &.active {
            background-color: #111;
            color: #fffff9;
        }
    }

    a {
        color: #111;
    }
}

