#odezenne-assez {
    background-color: #16a085;
    color: #fff;
    hgroup {
        margin-bottom: 24px;
    }

    h2,
    h3,
    h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
    }

    h2 {
        margin-top: 0;
        font-size: 64px;
        font-weight: 800;
        line-height: 0.88;
    }

    h3 {
        font-size: 2em;
        font-weight: 400;
    }

    h4 {
        font-size: 1.6em;
        font-weight: 100;
        margin: 0.6em 0 0.5em;
        line-height: 1.12;
    }

    .excerpt {
        margin-bottom: 180px;
        text-align: left;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 1.16em;
        text-transform: uppercase;
        letter-spacing: -0.05em;
        word-spacing: 0.09em;
        line-height: 1.25;
    }

    button {
        background-color: #16a085;
        color: #fff;
        border: 2px solid #fff;
        &:hover, &.active {
            background-color: #fff;
            color: #16a085;
        }
    }
}


@media all and (min-width: 50em) {
    #odezenne-assez .excerpt {
        max-width: 900px;
        margin: 0 auto 180px;
        -webkit-column-count: 2;
           -moz-column-count: 2;
        -webkit-column-gap: 40px;
           -moz-column-gap: 40px;
    }
}

@media all and (min-width: 62.5em) {
    #odezenne-assez .excerpt {
        -webkit-column-count: 3;
           -moz-column-count: 3;
        -webkit-column-gap: 104px;
           -moz-column-gap: 104px;
    }
}
