#guevara-golf {
    background-color: #BBBBB9;
    button {
        background-color: #BBBBB9;
        color: #FFF;
        &:hover {
            background-color: #FFF;
            color: #BBBBB9;
        }
    }

    &.image h2 {
        font-size: 2.6em;
    }
    @media all and (min-width: 37.5em) {
        &.image h2 {
            font-size: 4.4em;
        }
    }
}

#boy-cincinnati {
    background-color: #1E2C09;
    button {
        background-color: #1E2C09;
        color: #FFF;
        &:hover {
            background-color: #FFF;
            color: #1E2C09;
        }
    }
}

#statues-eastern {
    background-color: #E6E6E6;
    color: #000;
    button {
        background-color: #E6E6E6;
        color: #000;
        border: 2px solid #000;
        &:hover {
            background-color: #000;
            color: #E6E6E6;
        }
    }
}

#mafia-palermo {
    background-color: #0B0B0B;
    button {
        background-color: #0B0B0B;
        color: #FFF;
        &:hover {
            background-color: #FFF;
            color: #0B0B0B;
        }
    }
}
